body {
    background-color: lightblue;
}
.nav_link {
    padding: 10px;
    font-size: 2em;
    color: black;
}
img {
    width: 300px;
}

#main_title {
    font-size: 4
}
#sub_title {
    color: red
}