#title {
    text-align: center;
    
}

img {
    width: 50%;
    grid-column: 1/2;
}

#main_title {
    font-size: 4em;
    text-align: center;
    grid-row: 1/2;
}

body {
    background-color: gray;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    text-align: center;
}

